@import url(textArea.css); 
@import url(resultBox.css); 
@import url(header.css); 

*{
    @import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
    box-sizing: border-box;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
}

.container{
    height: 90%;
    width: 100%;
    display: flex;
}

.hide{
    display: none;
}