#textArea{
    height: 100%;
    width: 100%;

    font-size: 18px;

    background-color: #eeeeee;

    border: 0px;
    border-right: 1px solid gray;

    overflow: auto;
    resize: none;

    line-height: 1.5;

    padding-left: 30px;
    background: linear-gradient(to bottom, transparent 0%, transparent 90%) no-repeat;
}

#textArea:focus{
    outline: none;
}